<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Hubway Destination Prediction Service</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='styles/index.css') }}">

</head>

<body style="background: #000;">

 <div class="login" >
	    <h3>Hubway Destination Prediction Service</h3>

     <!-- Main Input For Receiving Query to our ML -->

    <form action="{{ url_for('predict')}}" method="post">
    	<input type="text" name="zip_code" placeholder="Text -- Enter Zip Code" />
        <input type="text" name="forecast" placeholder="Text -- Rain Forecast (clear, light rain, heavy rain)"  />
        <input type="text" name="gender" placeholder="Text -- Gender"  />
		<input type="number" step="0.001" name="HPCP" placeholder="Number -- Precipitation in mm (last hour)"  />
		<input type="number" name="hour" placeholder="Number -- Hour of day (0-23)"  />
        <input type="number" name="doy" placeholder="Number -- Day of Year (0-364)"  />
		<input type="number" name="replacement_id" placeholder="Number -- Starting Station ID" required="required"  />
		<input type="text" name="rush_hour" placeholder="Text -- Is it rush hour? (rush or no_rush)"  />
        <input type="number" name="dow_number" placeholder="Number -- Weekday number (0-6 starting Monday)"  />
        <input type="text" name="rain" placeholder="Text -- Is it raining? (clear, light rain, heavy rain)"  />
        <input type="text" name="bike_nr" placeholder="Text -- Bike serial number"  />
        <input type="text" name="weekday" placeholder="Text -- Weekday or weekend?"  />
        <input type="text" name="subsc_type" placeholder="Text -- Subscriber type"  />
        <input type="text" name="municipal" placeholder="Text -- Municipal"  />
        <input type="number" name="birth_date" placeholder="Number -- Birth Date (Year)"  />
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict destination station ID</button>
    </form>
   <br>
   <br>
   {{ prediction_text }}
 </div>
</body>
</html>